<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"/>
    <link rel="shortcut icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/line-awesome.min.css"/>
    <title>SIMBIO</title>
</head>
<body>

    <div class="container mt-4">
        <div class="row">
            <div class="col text-center mb-3">
                <h4 class="h4">SISTEM INFORMASI BIODATA</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <form action="#" th:action="@{/add}" th:object="${biodata}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="nama">Nama Lengkap</label>
                                <textarea class="form-control" id="nama" rows="2" th:field="*{namaLengkap}"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="user">Akun Pengguna</label>
                                <input class="form-control form-control-sm" type="text" id="user" th:field="*{namaPengguna}">
                            </div>
                            <div class="form-group">
                                <label for="pass">Kata Kunci</label>
                                <input class="form-control form-control-sm" type="password" id="pass" th:field="*{kataKunci}">
                            </div>
                            <div class="form-group">
                                <label>Jenis Kelamin</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="laki-laki" th:field="*{jenisKelamin}" th:value="LAKI-LAKI">
                                    <label class="form-check-label" for="laki-laki">Laki-Laki</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="perempuan" th:field="*{jenisKelamin}" th:value="PEREMPUAN">
                                    <label class="form-check-label" for="perempuan">Perempuan</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="daerah">Daerah Asal</label>
                                <select class="form-control form-control-sm" id="daerah"  th:field="*{daerah}">
                                    <option th:value="0">Pilih Daerah</option>
                                    <option th:value="JAKARTA">JAKARTA</option>
                                    <option th:value="BANDUNG">BANDUNG</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="user">Foto Pengguna</label>
                                <input class="form-control form-control-sm" type="file" name="file">
                            </div>
                            <div class="form-group text-right mt-4">
                                <button type="reset" class="btn btn-dark mr-2">
                                    <i class="la la-refresh"></i>
                                    <span>Reset</span>
                                </button>
                                <button type="submit" class="btn btn-success ml-2">
                                    <i class="la la-plus"></i>
                                    <span>Tambah</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th class="align-middle">#</th>
                        <th class="align-middle">Nama Lengkap</th>
                        <th class="align-middle">Jenis Kelamin</th>
                        <th class="align-middle">Daerah Asal</th>
                        <th class="align-middle text-center" width="99">
                            <button class="btn btn-sm btn-primary">
                                <i class="la la-lg la-print"></i>
                            </button>
                            <button class="btn btn-sm btn-info">
                                <i class="la la-lg la-file-excel-o"></i>
                            </button>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
</body>
</html>