<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"/>
    <link rel="shortcut icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/line-awesome.min.css"/>
    <title>SIMBIO</title>
</head>
<body>

<div class="container mt-4">
    <div class="row">
        <div class="col text-center mb-3">
            <h4 class="h4">SINKRONISASI SANTRI</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/santri/retrofit" class="btn btn-success ml-2" style="margin-bottom: 5px">
                <i class="la la-plus"></i>
                <span>SINKRON</span>
            </a>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th class="align-middle">NIUP</th>
                    <th class="align-middle">Nama Lengkap</th>
                    <th class="align-middle">Jenis Kelamin</th>
                    <th class="align-middle">Wilayah</th>
                    <th class="align-middle">Lembaga</th>
                    <th class="align-middle">Jurusan</th>
                    <th class="align-middle">Kelas</th>
                    <th class="align-middle">Rombel</th>
                    <th class="align-middle">Tanggal Mulai</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="data, index : ${datas}">
                    <td th:text="${data.niup}"></td>
                    <td th:text="${data.namaLengkap}"></td>
                    <td th:text="${data.jenisKelamin}"></td>
                    <td th:text="${data.wilayah}"></td>
                    <td th:text="${data.lembaga}"></td>
                    <td th:text="${data.jurusan}"></td>
                    <td th:text="${data.kelas}"></td>
                    <td th:text="${data.rombel}"></td>
                    <td th:text="${data.tanggalMulai}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
</body>
</html>